body {
  --color: #fff;
  --bg-color: #242424;
  --bg-color-white: rgba(244, 244, 246, 1);
  margin: 0;
  font-family: "Jost", serif;

  color: #ffffffde;
  background-color: #242424;
  overflow-x: hidden;

  @media screen and (min-width: 1440px) {
    font-size: large;
  }
  @media screen and (max-width: 1280px) {
    font-size: small;
  }

  button,
  input,
  textarea {
    font-family: "Jost", serif;
    font-size: 1em;
  }
}

@media (prefers-color-scheme: light) {
  body {
    --bg-color-white: rgba(244, 244, 246, 1);
    --bg-color: #ffffff;
    --color: #000;
    color: #1f1f1f;
    background-color: #ffffff;
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #777;
  border: 0;
  border-radius: 10px;
}

@media (prefers-color-scheme: light) {
  ::-webkit-scrollbar-thumb {
    background-color: #494949;
    border: 0;
    border-radius: 10px;
  }
}
